.cookie {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #808080;
	z-index: 2;
	padding: 1.12rem 0;

	// .cookie__container
	&__container {
	}
	// .cookie__btn
	&__btn {
		@media (max-width: 429.98px) {
			font-size: 0.65rem;
			gap: 0.25rem;
		}
		&::before {
			order: 1;
			font-weight: 700;
			font-size: rem(11);
		}
		&::after {
			display: none;
		}
	}
}
