.datepicker {
	// position: absolute;
	// top: 100%;
	// left: 0;
	position: static;
	background: #e5e5e5;
	z-index: 2;
	padding: rem(18) 0 rem(20);
	width: 100%;
	border-bottom: rem(1) solid;
	font-size: rem(18);
	// .datepicker__body
	&__body {
		// width: fit-content;
		@media (min-width: $md6) {
			padding-right: #{math.div(1, 8) * 100%};
		}
	}
	// .datepicker__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);

		column-gap: rem(15);
		row-gap: rem(15);
		@media (min-width: $md6) {
			column-gap: rem(21);
		}
		& button {
			&.selected {
				font-weight: 500;
			}
			&.greyed {
				color: #808080;
			}
		}
	}
	// .datepicker__footer
	&__footer {
		margin-top: rem(25);
		display: flex;
		gap: 0.5rem;
	}
	// .datepicker__prev
	&__prev {
	}
	// .datepicker__pagination
	&__pagination {
	}
	// .datepicker__next
	&__next {
	}
}
