.datepicker {
	position: absolute;
	top: 100%;
	left: 0;
	background: #e5e5e5;
	z-index: 2;
	padding: rem(10) 0;
	width: 100%;
	// .datepicker__body
	&__body {
		width: fit-content;
	}
	// .datepicker__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 18px;
		& button {
			&.selected {
				// font-weight: 500;
			}
			&.greyed {
				color: #808080;
			}
		}
	}
	// .datepicker__footer
	&__footer {
		margin-top: rem(30);
		display: flex;
		gap: 0.5rem;
	}
	// .datepicker__prev
	&__prev {
	}
	// .datepicker__pagination
	&__pagination {
	}
	// .datepicker__next
	&__next {
	}
}
