.popup {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	background: #e5e5e5;
	&.open {
		display: flex;
		flex-direction: column;
	}
	// .popup__header
	&__header {
		padding: 0.8rem 0;
	}
	// .popup__logo
	&__logo {
		position: relative;
		z-index: 16;
		max-width: rem(235);
		display: block;
		position: fixed;
		margin-left: -2.05rem;
		transform-origin: 0.125rem 0;
		@media (min-width: $md6) {
			transform-origin: 0.5rem 0;
			margin-left: -2.65rem;
			clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
		}
		@media (min-width: $md5) {
			clip-path: none;
		}
		@media (min-width: $md2) {
			max-width: rem(437);
			margin-left: -2.85rem;
		}
		// @media (min-width: $md2) {
		// }
		transform: scale(0.525, 0.525) !important;
	}
	// .popup__body
	&__body {
		flex: 1 1 auto;
	}
	// .popup__link
	&__link {
		&.active {
			font-weight: 500;
		}
	}
}
