.timepicker {
	background: #e5e5e5;

	width: 100%;
	border-bottom: rem(1) solid;
	&__items {
		width: fit-content;
		padding: rem(20) 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(60);
		row-gap: rem(16);
	}
	// .timepicker__item
	&__item {
	}
}
