.cart {
	padding: 0rem 0 4.25rem;
	@media (min-width: $md6) {
		padding: 2.5rem 0 4.25rem;
	}
	@media (min-width: $md4) {
		padding: 0.5rem 0 4.25rem;
	}
	@media (min-width: $md2) {
		padding: 0rem 0 4.25rem;
	}
	.products__card {
		.products__card-btn {
			&::before {
				// @extend .icon-plus-rotate;
				@extend .icon-plus-rotate-invert;
			}
			// &:hover {
			// 	&::before {
			// 		@extend .icon-plus-rotate-invert;
			// 	}
			// }
		}
	}
	// .cart__container
	&__container {
	}
	&__form {
		margin-top: 3.8rem;
		@media (min-width: $md6) {
			margin-top: 3.5rem;
		}
		@media (min-width: $md3) {
			margin-top: 4.5rem;
		}
		@media (min-width: $md2) {
			margin-top: 4rem;
		}
		@media (min-width: $md0) {
			margin-top: 4.75rem;
		}
		& > .row {
			--gutter-y: 2.75rem;
		}
		.form__label {
			margin-bottom: 0.5rem;
			@media (min-width: $md0) {
				margin-bottom: 1.5rem;
			}
		}
	}
	&__form-footer {
		margin-top: 3.75rem;
		@media (min-width: $md0) {
			margin-top: 4.5rem;
		}
		& .row {
			--gutter-y: 1.5rem;
		}
	}
	&__empty {
		padding: 1rem 0;
		@media (min-width: $md5) {
			padding: 3.75rem 0;
		}
		@media (min-width: $md4) {
			padding: 1.65rem 0;
		}
		@media (min-width: $md2) {
			padding: 1.25rem 0;
		}
		.row {
			--gutter-y: 1rem;
			@media (min-width: $md2) {
				--gutter-y: 1.5rem;
			}
		}
		& p {
			font-size: 0.9375rem;
			line-height: 120%;
			max-width: 28rem;
			@media (min-width: $md4) {
				max-width: 42rem;
			}
			@media (min-width: $md2) {
				max-width: 60rem;
				font-size: 1.125rem;
				line-height: 116.667%;
			}
		}
		& .btn {
			margin-top: 1.25rem;
			@media (min-width: $md6) {
				margin-top: 1rem;
			}
			@media (min-width: $md2) {
				margin-top: 1.25rem;
			}
		}
	}
}
