.article {
	padding: 1.125rem 0 rem(72);
	// .article__container
	&__container {
	}
	// .article__block
	&__block {
		&:not(:first-child) {
			margin-top: 2.5rem;
			&.lg-offset {
				margin-top: 4.35rem;
			}
		}
		.row {
			--gutter-y: 1.5rem;
		}
	}
	// .article__slider
	&__slider {
	}
	&__text {
		& p {
			&:not(:last-child) {
				margin-bottom: 1.4rem;
			}
		}
	}
	&__btn {
		margin-top: 1.35rem;
	}
	// .article__list
	&__list {
		margin-top: 1.35rem;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		font-weight: 500;
		gap: 0.4rem $gutter-x;
	}
	// .article__list-item
	&__list-item {
	}
	// .article__list-link
	&__list-link {
		&::after {
			content: "↽";
			visibility: hidden;
			display: inline-block;
			margin-left: 0.35rem;
			vertical-align: top;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					visibility: visible;
				}
			}
		}
	}
}

.slider {
	// .slider__slide
	&__slide {
	}
	// .slider__controls
	&__controls {
		margin-top: 0.44rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 0.15rem;
		font-size: 1.125rem;
		line-height: 133.333%;
		letter-spacing: 0.00563rem;
	}
	// .slider__prev
	&__prev {
	}
	// .slider__pagination
	&__pagination {
	}
	// .slider__next
	&__next {
	}
}
