.article {
	padding: 1.5rem 0 3.75rem;
	@media (min-width: $md6) {
		padding: 1.45rem 0 4.13rem;
	}
	@media (min-width: $md4) {
		padding: 1.125rem 0 3.75rem;
	}
	@media (min-width: $md2) {
		padding: 0.35rem 0 rem(72);
	}
	@media (min-width: $md0) {
		padding: 0.35rem 0 rem(85);
	}
	&.article_case {
		padding: 1.5rem 0 3.75rem;
		@media (min-width: $md6) {
			padding: 4rem 0 4.13rem;
		}
		@media (min-width: $md4) {
			padding: 2rem 0 3.75rem;
		}
		@media (min-width: $md2) {
			padding: 2rem 0 rem(72);
		}
	}
	// .article__container
	&__container {
	}
	// .article__block
	&__block {
		&:not(:first-child) {
			margin-top: 1.4rem;
			@media (min-width: $md2) {
				margin-top: 2.2rem;
			}
			@media (min-width: $md0) {
				margin-top: 2.4rem;
			}
			&.xxl-offset {
				margin-top: rem(60);
				@media (min-width: $md2) {
					margin-top: rem(72);
				}
				@media (min-width: $md1) {
					margin-top: rem(96);
				}
			}
			&.xl-offset {
				margin-top: rem(42);
				@media (min-width: $md2) {
					margin-top: rem(60);
				}
				@media (min-width: $md0) {
					margin-top: rem(72);
				}
			}
			&.lg-offset {
				margin-top: 3.25rem;
				@media (min-width: $md6) {
					margin-top: 3.5rem;
				}
				@media (min-width: $md4) {
					margin-top: 3rem;
				}
				@media (min-width: $md3) {
					margin-top: 3.125rem;
				}
				@media (min-width: $md2) {
					margin-top: 4.1rem;
				}
				@media (min-width: $md0) {
					margin-top: 5rem;
				}
			}
			&.md-offset {
				margin-top: 3.25rem;
				@media (min-width: $md6) {
					margin-top: 2.88rem;
				}
				@media (min-width: $md4) {
					margin-top: 2.5rem;
				}
				@media (min-width: $md3) {
					margin-top: 2.5rem;
				}
				@media (min-width: $md2) {
					margin-top: 3.75rem;
				}
			}
			&.sm-offset {
				margin-top: 1rem;
				@media (min-width: $md4) {
					margin-top: 1.75rem;
				}
				@media (min-width: $md2) {
					margin-top: 2.2rem;
				}
				@media (min-width: $md0) {
					margin-top: 2.75rem;
				}
			}
		}
		.row {
			--gutter-y: 1.125rem;
			@media (min-width: $md2) {
				--gutter-y: 1.5rem;
			}
			@media (min-width: $md0) {
				--gutter-y: 1.75rem;
			}
		}
	}
	&__title {
		padding-top: 0.25rem;
		&.ordered {
			display: flex;
			gap: 1rem;
		}
	}
	// .article__slider
	&__slider {
	}
	&__desc {
		padding-top: 0.5rem;
		display: flex;
		flex-direction: column;
		line-height: 125%;
		font-size: 0.75rem;
		& strong {
			font-weight: 500;
		}
		@media (min-width: $md3) {
			line-height: 120%;
			font-size: 0.9375rem;
		}
		@media (min-width: $md0) {
			font-size: 1.125rem;
			line-height: 133.33%;
		}
	}
	&__text {
		& p {
			&:not(:last-child) {
				margin-bottom: 1.1rem;
				@media (min-width: $md2) {
					margin-bottom: 1.4rem;
				}
				@media (min-width: $md0) {
					margin-bottom: 1.8rem;
				}
			}
			@extend .text-block
		}
		& ul {
			& li {
				display: flex;
				gap: 0.25rem;
				&::before {
					content: '—';
					flex-shrink: 0;
				}
				&:not(:last-child) {
					margin-bottom: 1.3rem;
				}
			}
			&:not(:last-child) {
				margin-bottom: 1.1rem;
				@media (min-width: $md2) {
					margin-bottom: 1.4rem;
				}
				@media (min-width: $md0) {
					margin-bottom: 1.5rem;
				}
			}
		}
	}
	&__btn {
		margin-top: 0.9rem;
		@media (min-width: $md2) {
			margin-top: 1.35rem;
		}
	}
	// .article__list
	&__list {
		display: grid;
		font-weight: 500;
		margin-top: 0.75rem;
		grid-template-columns: repeat(2, 1fr);
		gap: $gutter-y-mobile $gutter-x-mobile;
		@media (min-width: $md5) {
			gap: 0.4rem 1rem;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(8, auto);
			grid-auto-flow: column;
		}
		@media (min-width: $md4) {
			gap: 0.3rem $gutter-x;
		}
		@media (min-width: $md2) {
			gap: 0.4rem $gutter-x;
		}
		@media (min-width: $md2) {
			margin-top: 1rem;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(5, auto);
		}
		@media (min-width: $md1) {
			gap: 0.3rem $gutter-x;
		}
		@media (min-width: $md0) {
			gap: 0.55rem $gutter-x;
			font-size: 1.125rem;
		}
	}
	// .article__list-item
	&__list-item {
	}
	// .article__list-link
	&__list-link {
		&::after {
			content: '↽';
			visibility: hidden;
			display: inline-block;
			margin-left: 0.35rem;
			vertical-align: top;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					visibility: visible;
				}
			}
		}
	}
	&__image {
		source,
		img {
			width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}
}
