.events {
	padding: 1.25rem 0 3rem;
	@media (min-width: $md6) {
		padding: 3.75rem 0 3rem;
	}
	@media (min-width: $md4) {
		padding: 1.5rem 0 3rem;
	}
	@media (min-width: $md3) {
		padding: 1.5rem 0 3rem;
	}
	@media (min-width: $md2) {
		padding: 0.25rem 0 3rem;
	}
	@media (min-width: $md2) {
		padding: 1.5rem 0 4.06rem;
	}
	&.events-page {
		padding: 1.25rem 0 3rem;
		@media (min-width: $md6) {
			padding: 3.75rem 0 3rem;
		}
		@media (min-width: $md4) {
			padding: 1.125rem 0 3rem;
		}
		@media (min-width: $md2) {
			padding: 0.25rem 0 3rem;
		}
		@media (min-width: $md2) {
			padding: 1.5rem 0 4.06rem;
		}
	}
	// .events__container
	&__container {
	}
	// .events__block
	&__block {
		&:not(:last-child) {
			margin-bottom: 2.75rem;
			@media (min-width: $md2) {
				margin-bottom: 3rem;
			}
			@media (min-width: $md0) {
				margin-bottom: 3.75rem;
			}
		}
		&.lg-offset {
			&:not(:last-child) {
				@media (min-width: $md2) {
					margin-bottom: 3.75rem;
				}
				@media (min-width: $md0) {
					margin-bottom: 4.25rem;
				}
			}
		}
	}
	// .events__title
	&__title {
	}
	// .events__items
	&__items {
		margin-top: 1.5rem;
		.row {
			--gutter-y: 1.75rem;
		}
	}
	// .events__content
	&__content {
		margin-top: 1.75rem;
		.row {
			--gutter-y: 1.75rem;
			@media (min-width: $md0) {
				--gutter-y: 2rem;
			}
		}
	}
	// .events__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 100%;
	}
	// .events__item-time
	&__item-time {
		font-size: 1.125rem;
		line-height: 133.333%;
		@media (min-width: $md0) {
			font-size: 1.5rem;
		}
	}
	// .events__item-name
	&__item-name {
		margin-bottom: auto;
		font-size: 1.125rem;
		line-height: 133.333%;
		@media (min-width: $md0) {
			font-size: 1.5rem;
		}
	}
	// .events__blockd-desc
	&__item-desc {
		line-height: 120%;
		margin-top: 0.5rem;
		font-size: 0.9375rem;
		@media (min-width: $md2) {
			margin-top: 0.75rem;
			line-height: 133.333%;
			font-size: 1.125rem;
		}
		@media (min-width: $md0) {
			margin-top: 1rem;
			line-height: 125%;
			font-size: 1.5rem;
		}
	}
	// .events__item-more
	&__item-reg {
		margin-top: 0.75rem;
		font-size: 0.9375rem;
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
		@media (min-width: $md0) {
			margin-top: 1.25rem;
			font-size: 1.5rem;
		}
		&[href] {
			@media (any-hover: hover) {
				&:hover {
					font-weight: 500;
				}
			}
		}
	}
	// .events__card
	&__card {
		display: flex;
		flex-direction: column;
		font-size: 1.125rem;
		line-height: 133.333%;
	}
	// .events__card-image
	&__card-image {
		background: #c7c9cb;
		position: relative;
		height: 0;
		padding-bottom: 66.666%;
		& source,
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .events__card-time
	&__card-time {
		margin-top: 1.13rem;
		line-height: 133.333%;
		@media (min-width: $md0) {
			font-size: 1.5rem;
		}
	}
	// .events__card-name
	&__card-name {
		@media (min-width: $md0) {
			font-size: 1.5rem;
		}
	}
	// .events__more
	&__more {
		margin-top: 2.25rem;
		display: inline-block;
		font-size: 0.9375rem;
		font-weight: 500;
		line-height: 180%;
		text-transform: uppercase;
	}
}

.event {
	.row {
		--gutter-y: 1.5rem;
	}
	// .event__image
	&__image {
	}
	// .event__info
	&__info {
		@media (min-width: $md2) {
			font-size: 1.125rem;
			line-height: 116.667%;
		}
	}
	// .event__time
	&__time {
		display: block;
		@media (min-width: $md2) {
			margin-top: -0.25rem;
		}
		@media (max-width: $md6) {
			font-size: 1.125rem;
			line-height: 116.667%;
		}
	}
	// .event__title
	&__title {
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 112.5%;
		margin-top: 0.65rem;
		@media (min-width: $md6) {
			margin-top: 0.5rem;
			line-height: normal;
		}
		@media (min-width: $md2) {
			margin-top: 1rem;
			font-size: 1.875rem;
		}
		@media (min-width: $md0) {
			margin-top: 1.25rem;
			font-size: 2.25rem;
		}
	}
	// .event__tagline
	&__tagline {
		margin-top: 0.75rem;
		@media (min-width: $md6) {
			margin-top: 1rem;
		}
		@media (min-width: $md2) {
			margin-top: 1.5rem;
		}
		@media (min-width: $md0) {
			margin-top: 1.875rem;
		}
	}
	// .event__body
	&__body {
		margin-top: 1rem;
		@media (min-width: $md2) {
			margin-top: 1.5rem;
		}
		@media (min-width: $md0) {
			margin-top: 1.75rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.25rem;
				@media (min-width: $md0) {
					margin-bottom: 1.5rem;
				}
			}
		}
		& ul {
			margin-top: -0.5rem;

			& li {
				display: flex;
				align-items: flex-start;
				& span {
					flex-shrink: 0;
					display: inline-block;
					min-width: rem(60);
					@media (min-width: $md0) {
						min-width: rem(90);
					}
				}
				&:not(:last-child) {
					margin-bottom: 0.25rem;
				}
			}
		}
		& a:not([class]) {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					font-weight: 700;
				}
			}
		}
	}
}
