.products {
	padding: 1.125rem 0 rem(60);
	@media (min-width: $md6) {
		padding: 3.75rem 0;
	}
	@media (min-width: $md4) {
		padding: 1.25rem 0 3.75rem;
	}
	@media (min-width: $md3) {
		padding: 2.25rem 0 3.5rem;
	}
	@media (min-width: $md2) {
		padding: 1.35rem 0 5rem;
	}
	@media (min-width: $md1) {
		padding: 1.35rem 0 5.5rem;
	}
	@media (min-width: $md0) {
		padding: 1.25rem 0 4rem;
	}
	&.products_more {
		padding-bottom: 3.75rem;
		@media (min-width: $md1) {
			padding-bottom: 4.6rem;
		}
		@media (min-width: $md0) {
			padding-bottom: 4.35rem;
		}
		.product__cards {
			@media (min-width: $md1) {
				margin-top: 0.7rem;
			}
		}
	}
	// .products__container
	&__container {
	}
	// .products__title
	&__title {
		&.products__title_lg {
			@media (min-width: $md3) {
				font-size: 1.875rem;
			}
		}
	}
	// .products__content
	&__content {
		margin-top: rem(28);
		@media (min-width: $md3) {
			margin-top: rem(50);
		}
		& > .row {
			--gutter-y: #{rem(35)};
			@media (min-width: $md3) {
				--gutter-y: #{$gutter-y};
			}
		}
	}
	// .products__category
	&__category {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	// .products__category-name
	&__category-name {
		margin-bottom: auto;
		font-weight: 500;
		line-height: 133.333%;
		font-size: 0.75rem;
		@media (min-width: $md7) {
			font-size: 0.9375rem;
		}
		@media (min-width: $md3) {
			font-size: 1.125rem;
		}
		@media (min-width: $md2) {
			line-height: 116.667%;
		}
	}
	// .products__category-image
	&__category-image {
		background: #f2f4f3;
		position: relative;
		overflow: hidden;
		height: 0;
		margin-top: 0.75rem;
		padding-bottom: 78%;
		@media (min-width: $md6) {
			padding-bottom: 80%;
		}
		@media (min-width: $md4) {
			padding-bottom: 77.5%;
			margin-top: 0.5rem;
		}
		@media (min-width: $md3) {
			padding-bottom: 78.8%;
			margin-top: 1.25rem;
		}
		& source,
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__body {
		position: relative;
		&._loading {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #fff, $alpha: 0.5);
				z-index: 2;
			}
		}
		&::after {
			top: 25vh;
		}
	}
	// .products__cards
	&__cards {
		margin-top: 0.5rem;
		@media (min-width: $md3) {
			margin-top: 0;
		}
		@media (min-width: $md2) {
			margin-top: 0.5rem;
		}
		.row {
			--gutter-y: 1.25rem;
			@media (min-width: $md4) {
				--gutter-y: 1.05rem;
			}
			@media (min-width: $md3) {
				--gutter-y: 0.5rem;
			}
			@media (min-width: $md2) {
				--gutter-y: 1.05rem;
			}
		}
	}
	// .products__card
	&__card {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	// .products__card-image
	&__card-image {
		background: #f2f4f3;
		position: relative;
		display: block;
		height: 0;
		width: 100%;
		margin-top: 0.75rem;
		padding-bottom: 78.744%;
		@media (min-width: $md6) {
			padding-bottom: 80%;
		}
		@media (min-width: $md4) {
			padding-bottom: 78.5%;
			margin-top: 0.5rem;
		}
		@media (min-width: $md3) {
			padding-bottom: 77%;
			margin-top: 1.25rem;
		}
		@media (min-width: $md2) {
			padding-bottom: 79.56%;
		}
		@media (min-width: $md1) {
			padding-bottom: 78.735%;
		}
		& picture {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			& img,
			source {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&.has-hover {
			& img {
				&:not(.hover-img) {
					display: block;
				}
				&.hover-img {
					display: none;
				}
			}
			@media (any-hover: hover) {
				&:hover {
					& img {
						&:not(.hover-img) {
							display: none;
						}
						&.hover-img {
							display: block;
						}
					}
				}
			}
		}
	}
	// .products__card-name
	&__card-name {
		font-size: 1.125rem;
		line-height: 133.333%;
		margin-top: 1.1rem;
		@media (min-width: $md2) {
			margin-top: 1.25rem;
		}
		&.sm-name {
			@media (max-width: $md3) {
				margin-top: 0.875rem;
				line-height: 120%;
				font-size: 0.9375rem;
			}
			@media (max-width: $md4) {
				margin-top: 1rem;
				font-size: 1.125rem;
				line-height: 133.333%;
			}
			@media (max-width: $md5) {
				margin-top: 0.875rem;
				line-height: 120%;
				font-size: 0.9375rem;
			}
		}
	}
	// .products__card-price
	&__card-price {
		font-size: 1.125rem;
		line-height: 133.333%;
		margin-bottom: auto;
		&.sm-price {
			@media (max-width: $md3) {
				line-height: 120%;
				font-size: 0.9375rem;
			}
			@media (max-width: $md4) {
				font-size: 1.125rem;
			}
			@media (max-width: $md5) {
				font-size: 0.9375rem;
			}
		}
	}
	// .products__card-info
	&__card-info {
		line-height: 120%;
		flex: 1 1 auto;
		margin-bottom: 0.25rem;
		margin-top: 0.75rem;
		font-size: 0.9375rem;
		@media (min-width: $md5) {
			line-height: 133.333%;
			font-size: 1.125rem;
		}
		@media (min-width: $md4) {
			font-size: 0.9375rem;
		}
		@media (min-width: $md3) {
			margin-bottom: 0;
			line-height: 133.333%;
			font-size: 1.125rem;
		}
	}
	// .products__card-btn
	&__card-btn {
		margin-top: 0.45rem;

		@media (min-width: $md3) {
			margin-top: 0.4rem;
		}
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		margin-left: auto;
		border: rem(1) solid;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (any-hover: hover) {
			&:hover {
				background: #000;
				color: #fff;
			}
		}
		&::before {
			font-size: 0.75rem;
			padding-top: 0.125rem;
		}
		&.active {
			// background: #000;
			// color: #fff;
			&::before {
				transform: rotate(45deg);
			}
		}
	}
	// .products__filters
	&__filters {
		margin-bottom: 3rem;
		padding-top: 0.5rem;
		@media (min-width: $md3) {
			padding-top: 0;
			margin-top: -2.25rem;
		}
		@media (min-width: $md2) {
			margin-bottom: 4rem;
		}
		@media (min-width: $md0) {
			margin-top: -2rem;
		}
		.row {
			--gutter-y: 2rem;
			@media (min-width: $md6) {
				--gutter-y: 1.75rem;
			}
		}
	}
	// .products__filters-header
	&__filters-header {
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.125rem;
		display: flex;
		justify-content: space-between;
		border-bottom: rem(1) solid;
		padding-bottom: rem(10);

		&::before {
			order: 1;
		}
		&.active {
			&::before {
				@extend %ic, .icon-clear;
			}
		}
	}
	&__filters-clear {
		padding: 0 0.25rem;
	}

	// .products__filters-price
	&__filters-price {
		font-size: 1rem;
		line-height: 150%;
		position: relative;
		& label {
			position: absolute;
			bottom: 0;
			line-height: math.div(24, 16);
			padding-bottom: rem(5);
		}
		.form__input {
			padding-top: 0;
			font-size: 1rem;
			padding-bottom: rem(4);
			line-height: math.div(24, 16);
			&::placeholder {
				color: #000;
			}
			&:focus {
				&::placeholder {
					opacity: 0;
				}
			}
			&[name='start-price'] {
				padding-left: 1.85rem;
			}
			&[name='end-price'] {
				padding-left: 2rem;
			}
		}

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	// .products__filters-body
	&__filters-body {
		display: none;
		@media (min-width: $md6) {
			display: block;
		}
		margin-top: 1.15rem;
		&.active {
			display: block;
		}
	}
	// .products__filters-list
	&__filters-list {
		display: grid;
		gap: 0.35rem $gutter-x-mobile;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md6) {
			grid-template-columns: 1fr;
		}
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
			grid-auto-flow: column;
			grid-template-rows: repeat(5, 1fr);
			gap: 0.35rem $gutter-x;
		}
		@media (min-width: $md4) {
			grid-auto-flow: row;
			gap: 0.3rem $gutter-x;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
		}
		@media (min-width: $md2) {
			gap: 0.35rem $gutter-x;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-flow: column;
			grid-template-rows: repeat(5, 1fr);
		}
	}
	// .products__filters-item
	&__filters-item {
		margin-right: -0.75rem;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				font-weight: 500;
			}
		}
	}
	// .products__filters-input
	&__filters-input {
		&:checked {
			& + span {
				font-weight: 500;
			}
		}
	}

	// .products__more
	&__more {
		display: inline-block;
		width: fit-content;
		font-size: 0.9375rem;
		font-weight: 500;
		line-height: 180%;
		text-transform: uppercase;
		margin-top: 1.15rem;
		@media (min-width: $md2) {
			margin-top: 1.75rem;
		}
		@media (min-width: $md1) {
			margin-top: 1.5rem;
		}
	}
}

.product {
	padding: 1.25rem 0 2rem;
	@media (min-width: $md6) {
		padding: 3.75rem 0 0rem;
	}
	@media (min-width: $md4) {
		padding: 1.65rem 0 3rem;
	}
	@media (min-width: $md3) {
		padding: 1.5rem 0 1rem;
	}
	@media (min-width: $md2) {
		padding: 1.5rem 0 2.75rem;
	}

	// .product__container
	&__container {
		display: flex;
		flex-direction: column;
		& > .row {
			display: contents;
			@media (min-width: $md4) {
				display: flex;
			}
			& > .col-md-4 {
				display: contents;
				@media (min-width: $md4) {
					display: block;
				}
			}
		}
	}
	// .product__slider
	&__slider {
		order: -1;
		.slider__slide {
			height: 0;
			padding-bottom: #{math.div(888, 908) * 100%};
			width: 100%;
			position: relative;

			background: #e2eae8;

			& img,
			source {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: 100%;
				max-height: 100%;
				// mix-blend-mode: multiply;
			}
		}
	}
	// .product__options
	&__options {
		margin-top: 2.5rem;
		order: 1;
		@media (min-width: $md3) {
			margin-top: 4.5rem;
		}
		@media (min-width: $md2) {
			margin-top: 2rem;
		}
	}
	// .product__options-title
	&__options-title {
		font-weight: 700;
		font-size: 1.125rem;
		@media (min-width: $md2) {
			font-size: 1.5rem;
		}
	}
	// .product__options-hint
	&__options-hint {
		line-height: 116.667%;
		font-size: 0.9375rem;
		margin-top: 1rem;
		@media (min-width: $md2) {
			font-size: 1.125rem;
			margin-top: 0.88rem;
		}
	}
	// .product__options-body
	&__options-body {
		margin-top: 1.45rem;
		@media (min-width: $md2) {
			margin-top: 1.25rem;
		}
		@media (min-width: $md1) {
			margin-top: 1.95rem;
		}
	}
	// .product__options-visual
	&__options-visual {
		position: relative;
	}
	// .product__options-seems
	&__options-seems {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .product__options-seem
	&__options-seem {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		// display: none;
		transform: translate3d(0, 0, -1px);
		contain: layout;
		z-index: 1;
		opacity: 0.025;
		&.active {
			z-index: 2;
			opacity: 1;
		}
	}
	// .product__options-colors
	&__options-colors {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.16rem;
	}
	// .product__options-color
	&__options-color {
		display: block;
		aspect-ratio: 1;
	}
	// .product__options-input
	&__options-input {
	}
	// .product__options-block
	&__options-block {
		cursor: pointer;
	}
	// .product__info
	&__info {
		display: contents;
		@media (min-width: $md4) {
			display: block;
		}
	}
	// .product__breads
	&__breads {
		margin-top: 1.5rem;
		line-height: 120%;
		@media (min-width: $md6) {
			line-height: 130%;
			margin-top: 1rem;
		}
		@media (min-width: $md4) {
			margin-top: -0.25rem;
		}
		@media (min-width: $md3) {
			line-height: 160%;
		}
		display: flex;
		flex-wrap: wrap;
		font-size: 0.9375rem;
	}
	// .product__bread
	&__bread {
		&:not(:last-child) {
			margin-right: 0.15rem;
			&::after {
				content: '/';
				margin-left: 0.15rem;
			}
		}
	}
	// .product__bread-link
	&__bread-link {
	}
	// .product__title
	&__title {
		margin-top: 1.33rem;
		font-size: 1.3125rem;
		font-weight: 700;
		line-height: 128.571%;
		@media (min-width: $md6) {
			font-size: 1.5rem;
			line-height: 125%;
			margin-top: 1.1rem;
		}
		@media (min-width: $md2) {
			line-height: normal;
			margin-top: 1.5rem;
			font-size: 1.875rem;
		}
	}
	// .product__price
	&__price {
		margin-top: 1.5rem;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.3125rem;
	}
	// .product__price-value
	&__price-value {
	}
	// .product__props
	&__props {
		margin-top: 1.75rem;
		font-size: 0.9375rem;
		line-height: 160%;
		.row {
			--gutter-y: 0;
		}
	}
	// .product__props-item
	&__props-item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.25rem 1rem;
		@media (min-width: $md4) {
			gap: 0.25rem $gutter-x;
		}
	}
	// .product__props-name
	&__props-name {
		font-weight: 500;
	}
	// .product__props-value
	&__props-value {
		margin-right: -0.5rem;
	}
	// .product__delete
	&__delete {
		margin-top: 2.65rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
	}
	// .product__delete-btn
	&__delete-btn {
		text-transform: uppercase;
		&::before {
			@extend %ic, .icon-plus;
			order: 1;
		}
		&.active {
			&::before {
				@extend %ic, .icon-clear;
			}
		}
		&::after {
			display: none;
		}
	}
	// .product__desc
	&__desc {
		margin-top: 2.4rem;
	}
	// .product__desc-caption
	&__desc-caption {
		font-weight: 700;
		font-size: 1.125rem;
		@media (min-width: $md2) {
			font-size: 1.5rem;
		}
	}
	// .product__desc-text
	&__desc-text {
		margin-top: 1.25rem;
		@media (min-width: $md2) {
			margin-top: 1.65rem;
		}
		& p {
			&:not(:first-child) {
				margin-top: 1.125rem;
				@media (min-width: $md2) {
					margin-top: 1.35rem;
				}
			}
		}
		& ul {
			padding-left: 2rem;
			& li {
				display: flex;
				gap: 0.25rem;
				&::before {
					content: '—';
				}
			}
		}
	}
	// .product__desc-links
	&__desc-links {
		margin-top: 1.65rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 0.9375rem;
		line-height: 160%;
		letter-spacing: 0.00469rem;
	}
	// .product__desc-link
	&__desc-link {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	// .product__btns
	&__btns {
		margin-top: 3rem;
		order: 1;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
		.row {
			--gutter-y: 1.5rem;
		}
	}
	// .product__btns-item
	&__btns-item {
	}
}
