@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?q6hpmc');
  src:  url('fonts/icons.eot?q6hpmc#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?q6hpmc') format('truetype'),
    url('fonts/icons.woff?q6hpmc') format('woff'),
    url('fonts/icons.svg?q6hpmc#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus-product:before {
  content: "\e907";
}
.icon-plus-product-rotate:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e906";
}
.icon-plus-invert:before {
  content: "\e903";
}
.icon-plus-rotate:before {
  content: "\e904";
}
.icon-plus-rotate-invert:before {
  content: "\e905";
}
.icon-clear:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-plus-square:before {
  content: "\e902";
}
