@font-face {
	font-family: "KSM";
	font-display: swap;
	src: url("../fonts/KSM-Bold.woff") format("woff"), url("../fonts/KSM-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "KSM";
	font-display: swap;
	src: url("../fonts/KSM-Medium.woff") format("woff"), url("../fonts/KSM-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "KSM";
	font-display: swap;
	src: url("../fonts/KSM-Regular.woff") format("woff"), url("../fonts/KSM-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
