.footer {
	background: #e5e5e5;
	padding: 2.25rem 0;
	font-size: 0.9375rem;
	// .footer__container
	&__container {
	}
	// .footer__caption
	&__caption {
		line-height: 113.333%;
	}
	// .footer__logo
	&__logo {
		margin-top: 1rem;
		display: inline-block;
	}
	// .footer__form
	&__form {
		margin-top: 0.65rem;
	}
	// .footer__design
	&__design {
		margin-top: 0.5rem;
		display: inline-block;
		font-size: 0.75rem;
		line-height: 1.3125rem;
		@media (any-hover: hover) {
			&:hover {
				font-weight: 500;
			}
		}
	}
	// .footer__address
	&__address {
		margin-top: 1rem;
		line-height: 140%;
	}
	// .footer__privacy
	&__privacy {
		@media (any-hover: hover) {
			&:hover {
				font-weight: 500;
			}
		}
	}
	// .footer__contacts
	&__contacts {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	// .footer__contacts-link
	&__contacts-link {
		&:not(:last-child) {
			margin-bottom: 0.45rem;
		}
		@media (any-hover: hover) {
			&:hover {
				font-weight: 500;
			}
		}
	}
}
