.form {
	&._sending {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #fff, $alpha: 0.5);
			z-index: 2;
		}
		@extend ._loading;
	}
	// display: flex;
	// flex-direction: column;
	&__label {
		font-size: 1.125rem;
		line-height: 94.444%;
		margin-bottom: 0.5rem;

		@media (min-width: $md0) {
			margin-bottom: 1.25rem;
			font-size: 1.5rem;
		}
	}
	// .form__input
	&__input {
		text-overflow: ellipsis;
		width: 100%;
		line-height: 140%;
		border-radius: 0;
		background: transparent;
		border-bottom: 1px solid;
		color: currentColor;
		padding: 0.5rem 2rem 0.25rem 0;
		font-size: 0.9375rem;
		&::placeholder {
			opacity: 1;
			color: currentColor;
		}
		&.form__input_lg {
			font-size: 1.125rem;
			& ~ .form__field-clear {
				font-size: 1.125rem;
			}
			@media (min-width: $md0) {
				padding: 0.5rem 2rem 0.5rem 0;
				font-size: 1.5rem;
				& ~ .form__field-clear {
					font-size: 1.5rem;
				}
			}
		}
		&.focus-datepicker,
		&.focus-timepicker {
			border-color: transparent;
		}
		&:disabled {
			border-color: #ddd;
		}
		&._input {
			& ~ .form__field-clear {
				visibility: visible;
			}
		}
		&._error {
			& ~ .form__error {
				display: block;
			}
		}
	}
	// .form__textarea
	&__textarea {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s, outline 0.3s ease 0s;
		width: 100%;
		resize: none;
		height: 5.325rem;
		line-height: 140%;
		border-radius: 0;
		background: transparent;
		border-bottom: 1px solid;
		color: currentColor;
		font-size: 1.125rem;
		padding: 0.5rem 2rem 0.25rem 0;
		@media (min-width: $md0) {
			font-size: 1.5rem;
			height: 6.85rem;
			line-height: 125%;
		}
		&::-webkit-scrollbar {
			display: none;
		}
		scrollbar-width: none;
		&:disabled {
			border-color: #ddd;
		}
		&._input {
			& ~ .form__field-clear {
				visibility: visible;
			}
		}
		& ~ .form__field-clear {
			top: 0.75rem;
		}
		&._error {
			& ~ .form__error {
				display: block;
			}
		}
	}
	// .form__field
	&__field {
		position: relative;
	}
	// .form__field-clear
	&__field-clear {
		position: absolute;
		top: 0.25rem;
		right: 0;
		padding: 0.5rem;
		visibility: hidden;
		@media (min-width: $md0) {
			font-size: 0.9375rem;
		}
	}
	// .form__file
	&__file {
		margin-top: rem(32);
		display: block;
		@media (min-width: $md2) {
			margin-top: rem(44);
		}
		@media (min-width: $md0) {
			margin-top: rem(74);
		}
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-btn
	&__file-btn {
		cursor: pointer;
		&::after {
			display: none;
		}
		&::before {
			order: 1;
		}
	}
	// .form__files
	&__files {
		margin-top: 1.2rem;
		@media (min-width: $md0) {
			margin-top: 1.75rem;
		}
	}
	// .form__files-item
	&__files-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #000;
		font-size: 1.125rem;
		line-height: 133.333%;
		@media (min-width: $md0) {
			line-height: 1;
			font-size: 1.5rem;
		}
	}
	&__files-remove {
		font-size: rem(14);
		@media (min-width: $md0) {
			font-size: rem(16);
		}
	}
	// .form__files-name
	&__files-name {
	}
	&__error {
		font-size: rem(12);
		display: none;
		position: absolute;
		top: calc(100% + 0.25rem);
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: space-between;
	vertical-align: middle;
	align-content: center;
	width: 100%;
	align-items: center;
	text-align: center;
	user-select: none;
	font-size: 0.9375rem;
	line-height: 1;
	font-weight: 500;
	padding: 0.969rem 1rem;
	gap: 1rem;
	&::after {
		content: '→';
	}
	&.btn-primary {
		border: 1px solid #000;
		color: #000;
		&:hover,
		&:active {
			background: #000;
			color: #fff;
		}
	}
	&.btn-primary-dashed {
		// border: 1px dashed #000;
		background: linear-gradient(90deg, #000 62.5%, transparent 62.5%) 0 0 / 8px 1px repeat-x, linear-gradient(90deg, #000 62.5%, transparent 62.5%) 0 100% / 8px 1px repeat-x,
			linear-gradient(#000 62.5%, transparent 62.5%) 0 0 / 1px 8px repeat-y, linear-gradient(#000 62.5%, transparent 62.5%) 100% 0 / 1px 8px repeat-y;
		color: #000;
		&:hover,
		&:active {
			background: #000;
			color: #fff;
		}
	}
	&.btn-white {
		border: 1px solid #fff;
		color: #fff;
		&:hover,
		&:active {
			background: #fff;
			color: #000;
		}
	}
	&[download] {
		&::after {
			content: '↓';
		}
	}
	&:disabled,
	&[aria-disabled='true'] {
		cursor: default;
		pointer-events: none;
		border-color: #808080;
		color: #808080;
	}
}

.checkbox {
	margin-top: 2rem;
	display: block;

	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__content {
				&::before {
					@extend %ic, .icon-clear;
					background: #000;
				}
			}
		}
	}
	// .checkbox__content
	&__content {
		position: relative;
		display: block;
		font-size: 0.75rem;
		padding: 0.15rem 0 0.15rem 2.35rem;
		font-weight: 500;
		line-height: 125%;

		user-select: none;
		max-width: 24rem;
		&::before {
			content: '';
			position: absolute;
			cursor: pointer;
			color: #fff;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			background: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #000;
			width: 1.5rem;
			height: 1.5rem;
		}
		// & a {
		// 	text-decoration: underline;

		// 	@media (any-hover: hover) {
		// 		&:hover {
		// 			text-decoration: none;
		// 		}
		// 	}
		// }
	}
}
