.header {
	&.header_sm {
		.header__container {
			.row {
				@media (min-width: $md4) {
					min-height: 7rem;
				}
			}
		}
		.header__top {
			height: 7rem;
			@media (max-width: $md5) {
				display: none;
			}
		}
		.header__logo {
			&.clip-logo {
				clip-path: polygon(0 0, 12% 0, 12% 100%, 0% 100%);
				@media (max-width: $md5) {
					clip-path: none;
				}
			}
		}
	}
	&.open-menu {
		@media (max-width: $md6) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2rem;
				background: #000;
				z-index: 4;
			}
		}
	}
	&.header-static {
		&.hide {
			visibility: hidden;
			.header__logo {
				visibility: visible;
			}
		}
	}
	&.header-fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 6.5rem;
		height: auto;
		z-index: 3;
		background: #fff;
		display: none;
		&.visible {
			display: block;
		}
		.row {
			min-height: auto;
		}
		.header__wrapper {
			min-height: 6.7rem;
		}
		.header__logo {
			position: static;
			height: 5rem;
			overflow: visible;
			clip-path: none;
		}
	}

	&__top {
		@media (max-width: $md5) {
			display: none;
		}
		@media (hover: none) {
			display: none;
		}
		@media (hover: hover) {
			display: block;
		}

		@media (min-width: $md5) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 6.5rem;
			display: block;
			z-index: 2;
		}
	}
	&__wrapper {
		min-height: rem(107);
		padding: 0.5rem 0;
		position: relative;
		z-index: 4;
		@media (min-width: $md6) {
			padding: 0.8rem 0 0.9rem;
		}
	}
	// .header__container
	&__container {
		.row {
			@media (min-width: $md4) {
				min-height: rem(120);
			}
			@media (min-width: $md2) {
				min-height: 12.75rem;
			}
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 16;
		max-width: rem(235);
		display: block;
		position: fixed;
		margin-left: -2.05rem;
		transform-origin: 0.125rem 0;
		@media (min-width: $md6) {
			transform-origin: 0.5rem 0;
			margin-left: -2.85rem;
			clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
		}
		@media (min-width: $md5) {
			clip-path: none;
		}
		@media (min-width: $md1) {
			max-width: rem(437);
		}
		&.init-animation {
			@media (max-width: $md4) {
				.header__logo-current {
					display: none;
				}
			}
		}
		&.header__logo_offset {
			& svg {
				margin-top: rem(-5.5);
				margin-left: 1.15px;
				@media (min-width: $md1) {
					margin-left: rem(1);
					margin-top: rem(-10);
				}
			}
			&.header__logo_scaled {
				@media (min-width: $md2) {
					margin-top: rem(-4);
				}
			}
		}
		& svg {
			pointer-events: none;
			& path {
				.header.open-menu & {
					@media (max-width: $md6) {
						fill: #fff;
					}
				}
			}
			max-width: 100%;
		}
		&.header__logo_scaled {
			@media (min-width: $md2) {
				transform: scale(0.525, 0.525) !important;
			}
		}
		.header.open-menu & {
			@media (max-width: $md6) {
				background: #000;
			}
		}
		&.clip-logo {
			clip-path: polygon(0 0, 15% 0, 15% 100%, 0% 100%);
			@media (max-width: $md5) {
				clip-path: none;
			}
		}
		&.visible {
			clip-path: none !important;
			.header__logo-current {
				opacity: 1 !important;
				visibility: visible !important;
				display: block;
			}
		}
	}
	// .header__logo-current
	&__logo-current {
		@media (min-width: $md7) {
			@media (max-width: $md5) {
				display: none !important;
			}
		}
		@media (min-width: $md4) {
			display: block;
		}
	}
	// .header__menu
	&__menu {
		line-height: 107.143%;
		font-size: rem(14);
		padding: rem(42) 0 0 0;
		@media (min-width: $md6) {
			margin-top: -0.05rem;
			padding: 0;
			font-size: rem(12);
		}
		@media (min-width: $md3) {
			position: sticky;
			top: 0.8rem;
			font-size: 0.875rem;
		}
		@media (min-width: $md0) {
			font-size: 1rem;
			line-height: math.div(15, 16);
		}
		& > .header__menu-cart {
			font-size: 1.875rem;
			position: absolute;
			right: rem(11);
			// top: rem(68);
			top: 4rem;
		}
	}
	// .header__menu-body
	&__menu-body {
		position: relative;
		@media (max-width: $md6) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			color: #fff;
			z-index: 2;
			display: flex;
			flex-direction: column;
			padding: 4.21rem rem(9) 2.7rem 2.5rem;
			visibility: hidden;
			font-size: 1.125rem;
			gap: 2.6rem;
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
				display: none;
			}
			.header__menu-list {
				grid-template-columns: 1fr;
				gap: 2.075rem;
			}
			.header__menu-cart {
				font-size: 1.875rem;
				position: relative;
				z-index: 12;
				margin-top: -0.25rem;
			}
			.header.open-menu & {
				visibility: visible;
			}
		}
	}
	// .header__menu-cart
	&__menu-cart {
		order: -1;
		text-align: right;

		width: fit-content;
		margin-left: auto;
		margin-right: -0.2rem;
		@media (min-width: $md6) {
			margin-right: 0;
			font-weight: 500;
			order: 0;
			position: absolute;
			top: 0;
			right: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				font-weight: 700;
			}
		}
		&::before {
			content: "[";
		}
		&::after {
			content: "]";
		}
		&.active {
			color: #000;
			@media (min-width: $md2) {
				font-size: 1.875rem;
				font-weight: 400;
				margin-top: -0.25rem;
				margin-right: -0.1rem;
				line-height: 1;
				@media (any-hover: hover) {
					&:hover {
						font-weight: 500;
					}
				}
			}
			.header.open-menu & {
				@media (max-width: $md5) {
					color: #fff;
				}
			}
		}
	}
	// .header__menu-list
	&__menu-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem $gutter-x-mobile;
		@media (max-width: 375px) {
			padding-right: 2rem;
		}
		@media (min-width: $md6) {
			gap: 0.5rem $gutter-x;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md4) {
			gap: 3.25rem $gutter-x;
			grid-template-columns: repeat(6, 1fr);
		}
		@media (min-width: $md3) {
			gap: $gutter-y $gutter-x;
		}
		&:not(:first-child) {
			margin-top: 1rem;
			@media (min-width: $md6) {
				margin-top: 0.55rem;
			}
			@media (min-width: $md4) {
				margin-top: 3.25rem;
			}
		}
	}
	// .header__menu-item
	&__menu-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__menu-link
	&__menu-link {
		@media (any-hover: hover) {
			&:hover {
				font-weight: 500;
			}
		}
		&.font-medium {
			@media (any-hover: hover) {
				&:hover {
					font-weight: 700;
				}
			}
		}
	}
	&__form {
		margin-top: auto;
		.form__input {
			@media (max-width: $md5) {
				font-size: rem(18);
			}
		}
		.form__field {
			@media (max-width: $md5) {
				margin-top: rem(18);
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 0;
	position: relative;
	order: 1;
	z-index: 11;
	margin-left: auto;
	min-width: 1.45rem;
	min-height: rem(36);
	margin-top: rem(-3.5);
	@media (min-width: $md5) {
		min-width: rem(42);
		margin-top: rem(-4.5);
		margin-left: 2.5rem;
	}
	@media (min-width: $md2) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(4) rem(0);
		width: 100%;
		will-change: transform;
		@media (min-width: $md5) {
			padding: rem(4.5) rem(0);
		}
		&::before {
			content: "";
			display: block;
			height: rem(2.5);
			width: 100%;
			margin-left: auto;
			background: currentColor;
			border-radius: 0;
			will-change: transform;
		}
	}
	.header.open-menu & {
		color: #fff;
		margin-right: rem(-3);
		& span {
			width: rem(28);
			&:first-child {
				transform: translateY(rem(10.5));
				@media (min-width: $md5) {
					transform: translateY(rem(11.5));
				}
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-10.5));
				@media (min-width: $md5) {
					transform: translateY(rem(-11.5));
				}
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
