%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-plus-product:before {
	content: "\e907";
}
.icon-plus-product-rotate:before {
	content: "\e908";
}
.icon-plus:before {
	content: "\e906";
}
.icon-plus-invert:before {
	content: "\e903";
}
.icon-plus-rotate:before {
	content: "\e904";
}
.icon-plus-rotate-invert:before {
	content: "\e905";
}
.icon-clear:before {
	content: "\e900";
}
.icon-close:before {
	content: "\e901";
}
.icon-plus-square:before {
	content: "\e902";
}
